node_modules
dist
coverage
test
examples
.DS_Store
.env
*.log
*.tmp
*.swp
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.lock
*.tsbuildinfo
.eslintrc
.prettierignore
.prettierrc
.gitignore
.npmrc
.npmignore
.editorconfig
.nyc_output
package-lock.json
.vscode